page-efsc {
  .logo-overlay {
    position: fixed;
    left: 40vw;
    top: 45vh;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../assets/img/EFSC-symbol.png);
    background-repeat:no-repeat;
    -webkit-filter: grayscale(1); /* Old WebKit */
    filter: grayscale(1);
    opacity: 0.1;
  }
}
