<ion-header>

  <ion-navbar color="primary">
    <ion-buttons end><!-- add functionality to share & bookmark buttons -->
      <button ion-button icon-only>
        <ion-icon name="bookmark"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div class="category">{{ event.category }}</div>
  <h1 class="event-title" text-wrap>{{ event.title }}</h1>

  <!-- p *ngIf="event.subCategory">{{ event.subCategory }}</p -->

  <ul>
    <li>
      <div class="figure-icon">
        <ion-icon name="time"></ion-icon>
      </div>

      <div class="figure-content">
        <!-- add logic for all day or multiple day events -->
        <span class="time-header">{{ event.startTime | date:"EEEE, MMMM d, y" }}</span>
        <br> {{ event.startTime | date:"h:m a" }} to {{ event.endTime | date:"h:m a" }}
      </div>

    </li>

    <li>
      <div class="figure-icon">
        <ion-icon name="pin"></ion-icon>
      </div>
      <div class="figure-content">
        <!-- add the two links to map below -->
        <span class="location-name">
          <a href="map">{{ event.location.name }}</a>
        </span>
        <br>
        <span class="location-address">{{ event.location.address }}</span>
        <br>
        <span class="location-description">{{ event.location.description }}</span>
      </div>
    </li>

    <li>

      <div class="figure-icon">
        <ion-icon name="person"></ion-icon>
      </div>
      <div class="figure-content">
        <!-- to add functionality -->
        Hosted by
        <a href="">Central Florida Freethought Community</a>
      </div>

    </li>

  </ul>

  <img *ngIf="event.imageUrl" [src]="event.imageUrl" class="event-image" />

  <div [innerHTML]="event.description" class="event-description"></div>
  <!-- location map thumbnail and link to outgoing link to user's map app -->
  <br>
  <div #map id="map"></div>

</ion-content>
