page-event {

  color: #505050;

  ion-title, .toolbar-title, .toolbar-title-md {
    font-size: 2rem;
  }

  p, .card-md p {
    margin: 0 0 1rem 0;
  }

  ul {
    list-style: none;
    padding-left: 2rem;

    li {
      margin-bottom: 2rem;
    }
  }

  .category {
    text-align: center;
    text-transform: uppercase;
  }

  .event-title {
    font-weight: 700;
  }

  .figure-icon, .figure-content {
    display: table-cell;
  }

  .figure-icon {
    padding-right: 1.5rem;
  }

  ion-content ion-icon {
    color: map-get($colors, secondary);
    font-size: 2rem;
  }

  .time-header, .location-name {
    font-size: 2rem;
    font-weight: 600;
  }

  .location-description {
    display: inline-block;
    padding-top: 1rem;
    font-style: italic;
  }

  .event-image {
    margin-bottom: 2rem;
  }

  .event-description {
    padding: 0 2rem 0 2rem;
  }
}
