<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ event.title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card>

    <img *ngIf="event.imageUrl" [src]="event.imageUrl" />

    <ion-card-header>
      <h1 text-wrap>{{ event.title }}</h1>
      <p>{{ event.category }}</p>
      <p *ngIf="event.subCategory">{{ event.subCategory }}</p>
    </ion-card-header>

    <ion-card-content>
      <p>{{ event.description }}</p>
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <h1>Time</h1>
    </ion-card-header>

    <ion-card-content>
      <p>{{ event.startTime | date:"yMdjm" }}</p>
      <p>{{ event.endTime | date:"yMdjm" }}</p>
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <h1>Location</h1>
      <p>{{ event.location }}</p>
    </ion-card-header>

    <ion-card-content><!-- MAP --></ion-card-content>

  </ion-card>

</ion-content>
