<ion-header>

  <ion-navbar color="primary">

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ title }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-toolbar>

    <ion-segment [(ngModel)]="calendarMode">

      <ion-segment-button value="day">Today</ion-segment-button>
      <ion-segment-button value="week">This Week</ion-segment-button>
      <ion-segment-button value="month">This Month</ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content>

  <template #monthviewEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-list *ngFor="let category of getCategories()">
      <ion-list-header>{{ category }}</ion-list-header>
      <button ion-item *ngFor="let event of getEvents(category)" (click)="onEventSelected(event)">
          <div>
            {{ event.title }} | {{ event.category }}
          </div>
        </button>
    </ion-list>
  </template>

  <calendar [monthviewEventDetailTemplate]="monthviewEventDetailTemplate" [eventSource]="eventSource" [calendarMode]="calendarMode"
    [currentDate]="currentDate" (onTitleChanged)="onTitleChanged($event)" (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)" step="1"></calendar>

</ion-content>
