// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
* {
  font-family: 'Open Sans'; // font-family: 'Comic Sans MS';
  // color: magenta !important;
  // background-color: lime !important;
}

// Global Toolbar
.toolbar-md-primary .bar-button-clear-md,
.toolbar-md-primary .bar-button-default-md,
.toolbar-md-primary .bar-button-outline-md,
.toolbar-md-primary .toolbar-title-md,
.toolbar-ios-primary .bar-button-clear-ios,
.toolbar-ios-primary .bar-button-default-ios,
.toolbar-ios-primary .bar-button-outline-ios,
.toolbar-ios-primary .toolbar-title-ios {
  color: #fff;
}

.toolbar-title-md,
.toolbar-title-ios {
  padding: 0 8px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.toolbar-title-ios {
  font-size: 2rem;
}

// Segment
.segment-md {
  .segment-button {
    color: map-get($colors, secondary);
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .segment-button.segment-activated {
    color: #fff;
    background-color: map-get($colors, primary);
  }
}

.segment-ios {
  .segment-button {
    color: map-get($colors, primary);
    font-size: 1.6rem;
    font-weight: 700;
    max-width: none;
    margin: 0 50px;
  }
  .segment-button.segment-activated {
    color: #fff;
  }
}

ion-toolbar.cal-segment.toolbar.toolbar-md {
  padding: 0px;
}

// Calendar global table properties
th {
  background-color: map-get($colors, secondary);
  color: #fff;
}

// Calendar - Day-view
td.calendar-hour-column.text-center {
  color: map-get($colors, primary);
  font-size: 3rem;
}

.dayview-allday-label,
.calendar-hour-column {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center; // max-width: 75px;
  width: 100px !important;
}

// Calendar - Week-view
// Calendar - Month-view

/*
UNDECIDED.. table.table.table-bordered.table-fixed.monthview-datetable
Take class "table-bordered" off of this element... How?
Make sure solution works when wiping to prev and next months.
*/

.swiper-slide {
  font-size: 2.6rem;
}

table.table.table-fixed.monthview-datetable {
  thead:first-child>tr:first-child>th {
    padding: 1rem 0;
  }
  &>tbody>tr>td,
  &[_ngcontent-c1]>tbody[_ngcontent-c1]>tr[_ngcontent-c1]>td[_ngcontent-c1] {
    padding: 1.6rem 1rem;
  }
  th {
    text-transform: uppercase;
    font-size: 2.2rem;
  }
  td {
    font-weight: 700;
    color: map-get($colors, secondary);
    &.text-muted {
      color: map-get($colors, tertiary);
    }
    &.monthview-current {
      background-color: map-get($colors, tertiary);
      &.text-muted {
        color: map-get($colors, secondary);
      }
    }
    &.monthview-selected[_ngcontent-c1] {
      color: #fff;
      background-color: map-get($colors, primary);
    }
    &.monthview-primary-with-event {
      background-color: transparent;
      color: map-get($colors, primary);
    }
    &.monthview-secondary-with-event {
      background-color: transparent;
      color: rgba(242, 210, 53, 0.4);
    }
  }
}

// Buttons
.button-ios {
  color: #fff;
}

ion-fab ion-icon {
  color: #fff;
}
